{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>CIS Infinity System Information</title>
</head>



<div class="container-fluid mt-4">

    <div class="row d-flex flex-row">
        <div class="col-md-6">
            <div class="card" style="width: 25rem;">

                <div class="card-body">
                    <h5 class="card-title">CIS Users in PROD System</h5>

                    <p class="card-text">Total Prod Users: {{sys010_prods.0.0}} 
                        <br> Active Users: {{num_users_prod.0.0}} 
                        <br>Currently login: <a href="{% url 'login_details' %}">{{ current_prod_login_users.0.0 }}</a>
                    </p>          
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card pink-background" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">CIS User Number in TEST System</h5>
                    
                    <p class="card-text">Total Users in TEST: {{sys010_tests.0.0}} 
                        <br> Active Users: {{num_users_test.0.0}} 
                        <br>Currently login: <a href="{% url 'login_details_test' %}">{{ current_test_login_users.0.0 }}</a> 
                    </p>    

                </div>
            </div>
        </div>
    </div>


<hr>
<h3>SYS001 CIS Version Control</h3>
<table class='table tb_sys001'>
    <thead class='thead-dark'>
        <tr>            
            <th>System ID</th>
            <th>Data Version</th>
        </tr>
    </thead>
    <tbody>
        
        {% for prod in sys001_prods %}

        <tr>
            <td>{{ prod.1 }}</td>
            <td class="text-left">{{ prod.0 }}</td>
            
        </tr>
        {% endfor %}
        

        {% for test in sys001_tests %}

        <tr>
            <td>{{ test.1 }}</td>
            <td class="text-left">{{ test.0 }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>BIF000 CIS Infinity Control</h3>

    <table class='table'>
        <thead class='thead-dark'>
            <tr>
                <th>Attachments</th>
                <th>Letters</th>
                <th>BillImages</th>
                <th>Help Url</th>
            </tr>
        </thead>
        <tbody>
            
            {% for prod in bif000_prods %}
    
            <tr>
                <td>{{ prod.0 }}</td>
                <td>{{ prod.1 }}</td>
                <td>{{ prod.2 }}</td>
                <td class="text-left">{{ prod.3 }}</td>
            </tr>
            {% endfor %}
            
    
            {% for test in bif000_tests %}
    
            <tr>
                <td>{{ test.0 }}</td>
                <td>{{ test.1 }}</td>
                <td>{{ test.2 }}</td>
                <td class="text-left">{{ test.3 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <h3>SYS021 Accounting/OCR Control</h3>

    <table class='table tb_sys021'>
        <thead class='thead-dark'>
            <tr>
                <th>Link Type</th>
                <th>File Name</th>
            </tr>
        </thead>
        <tbody>
            
            {% for prod in sys021_prods %}    
            <tr>
                <td>{{ prod.0 }}</td>  
                <td class="text-left">{{ prod.1 }}</td> 
            </tr>
            {% endfor %}
            
    
            {% for test in sys021_tests %}    
            <tr>
                <td>{{ test.0 }}</td>
                <td class="text-left">{{ test.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   


   <h3>EBP etc., Settings</h3>

    <table class='table tb_sys021'>
        <thead class='thead-dark'>
            <tr>
                <th>Link Type</th>
                <th>File Name</th>
            </tr>
        </thead>
        <tbody>
            
            {% for prod in itr_prods %} 
            <tr>
                <td>{{ prod.0 }}</td>  
                <td class="text-left">{{ prod.1|slice:"24:" }}</td>  
              
            </tr>
          
            {% endfor %}
            <tr class="spacer">
                <td class="td_test" colspan="2" style="height: 10px;"> Below Settings are from TEST System</td>
            </tr>
           
            {% for test in itr_tests %} 
            <tr>
                <td>{{ test.0 }}</td>  
                <td class="text-left">{{ test.1|slice:"24:" }}</td>  
              
            </tr>
          
            {% endfor %}
        </tbody>
    </table>




</div>